streamlit
numpy
pandas
matplotlib
seaborn
imblearn
RandomForestClassifier
apriori
train_test_split
accuracy_score
precision_score
recall_score
f1_score
roc_auc_score
roc_curve
confusion_matrix
DecisionTreeClassifier
GaussianNB
KMeans
silhouette_score
silhouette_visualizer
metrics
tree